body{
    background-color:rgb(201, 188, 201);
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin: 60px auto;
 
    }
    .container{
      width: 90%;
      
  }
  
  .profile-photo{
      float: left;
  }
  
  .top {
      width: 100%;
      height: 280px;
    
  }
  
  .main-info{
      width: 100%;
      height: 450px;

  }
  
  .links{
      width: 100%;
      height: 250px;

  }
  
 p{
    color: rgb(95, 95, 135);
    font-family:'Source Serif Pro', serif;
    font-size: large;
    font-weight: 300;
   
 }

h1{
  color: rgb(3, 3, 44);
 
}

h4{
  color: rgb(25, 56, 64);
  
}

 .italic-text{
   color:rgb(13, 22, 57);
 }

 .times-new-roman{
  color:rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  
}

/*   #single-p{}    is id   */

 a:link {       /* unvisited*/
   color: rgb(118, 21, 130);
   font-family: 'Times New Roman', Times, serif;
 }
 
 /* visited link */
 a:visited {
   color: rgb(64, 20, 81);
   font-family: 'Times New Roman', Times, serif;
 }
 
 /* mouse over link */
 a:hover {
   color: rgb(112, 110, 143);
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
 }
 
 /* selected link */
 a:active {
   color: rgb(39, 36, 42);
   font-family: 'Times New Roman', Times, serif;
 } 
 
 li{
   list-style:circle;
 }

 img{
   border-radius: 75%;
 }

 textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(65, 33, 63);
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
  resize: none;
}

hr.new1 {
  border: 5px dotted rgb(128, 73, 112);
}


.contact-info{
  color:rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
}

.serif{
  font-family:'Source Serif Pro', serif; 
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
  background-color: #84506d;
  color: #ffffff;
  text-align: left;
 
}
.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #980077;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #98007c;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  padding: 15px;
  background-color: #a785a5;
  border: 2px solid #afabab;
  border-radius: 12px;


}