body{
    background-color:rgb(201, 188, 201);
    font-family: 'Times New Roman', Times, serif;
    width: 85%;
    margin: 60px auto;
 
    }

 p{
    color: rgb(95, 95, 135);
    font-family:'Source Serif Pro', serif;
   
 }

h1{
  color: rgb(3, 3, 44);
 
}

h4{
  color: rgb(25, 56, 64);
  
}

 .italic-text{
   color:rgb(13, 22, 57);
 }

 .times-new-roman{
  color:rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  
}

/*   #single-p{}    is id   */

 a:link {       /* unvisited*/
   color: rgb(118, 21, 130);
 }
 
 /* visited link */
 a:visited {
   color: rgb(64, 20, 81);
 }
 
 /* mouse over link */
 a:hover {
   color: rgb(112, 110, 143);
 }
 
 /* selected link */
 a:active {
   color: rgb(39, 36, 42);
 } 
 
 li{
   list-style:none; /*deleted  listing*/
 }

 img{
   border-radius: 75%;
 }